<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Employee - Store Management System</title>
    <link rel="stylesheet" href="../static/StructStyle.css">
</head>
<body>

<div class="navbar">
    <a href="{{ url_for('index') }}">Index</a>
    <a href="{{ url_for('product') }}">Product Management</a>
    <a href="{{ url_for('inventory') }}">Inventory Management</a>
    <a href="{{ url_for('employee') }}">Employee Management</a>
    <a href="{{ url_for('revenue') }}">Revenue</a>
</div>

<div class="container">
    <h1>Add New Employee</h1>
    <form action="/submit_new_staff" method="post">
        <label for="staffName">Employee Name:</label>
        <input type="text" id="staffName" name="staffName" required>

        <label for="staffPosition">Position:</label>
        <input type="text" id="staffPosition" name="staffPosition" required>

        <label for="expectedWorkHours">Expected Work Hours:</label>
        <input type="number" id="expectedWorkHours" name="expectedWorkHours" required>

        <label for="salary">Monthly Salary:</label>
        <input type="number" id="salary" name="salary" required>

        <!-- 其他员工信息输入 -->

        <!-- 在HTML中添加按钮的id和onclick事件 -->
    <input type="button" id="updateButton" value="Update Employee Info" onclick="AddEmployeeInfo()">
    </form>
</div>

<!-- 引入Axios库 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function AddEmployeeInfo() {
        var employeeData = {
            name: document.getElementById('staffName').value,
            position: document.getElementById('staffPosition').value,
            workHours: document.getElementById('expectedWorkHours').value,
            salary: document.getElementById('salary').value
        };

        axios.post('/add_employee', employeeData)
            .then(function (response) {
                window.location.href = '/employee'; // 跳转到employee.html
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
</body>
</html>
