<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="../static/StructStyle.css">
</head>
<body>

<div class="navbar">
    <a href="{{ url_for('index') }}">Index</a>
    <a href="{{ url_for('product') }}">Product Management</a>
    <a href="{{ url_for('inventory') }}">Inventory Management</a>
    <a href="{{ url_for('employee') }}">Employee Management</a>
    <a href="{{ url_for('revenue') }}">Revenue</a>
</div>

<div class="container">
    <h1>Employee Management</h1>
    <a href="{{ url_for('employeenew') }}" class="button">Add Employee</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Expected Work Hours</th>
            <th>Actual Work Hours</th>
            <th>Monthly Pay</th>
            <th>Operation</th>
        </tr>
        <!-- 其他员工数据 -->
        <tbody id="employeeTable">
            <!-- Dynamically generated employee rows will be inserted here -->
        </tbody>
    </table>
</div>

<!-- 引入Axios库 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    window.onload = function() {
    axios.get('/get_employees')
        .then(function (response) {
            const employees = response.data;
            const table = document.getElementById('employeeTable');

            for (let id in employees) {
                if (employees.hasOwnProperty(id)) {
                    let employee = employees[id];
                    let row = table.insertRow();
                    row.innerHTML = `
                        <td>${employee.name}</td>
                        <td>${employee.position}</td>
                        <td>${employee.workHours}</td>
                        <td>${employee.AcworkHours}</td>
                        <td>${employee.salary}</td>
                        <td><a href="#" onclick="editEmployee(${id})">Edit</a> | <a href="#" onclick="deleteEmployee(${id})">Delete</a></td>
                    `;
                }
            }
        })
        .catch(function (error) {
            console.log(error);
        });
    };

    function deleteEmployee(id) {
        axios.delete('/delete_employee/' + id)
            .then(function (response) {
                console.log(response.data);
                window.location.reload(); // 刷新页面
            })
            .catch(function (error) {
                console.log(error);
            });
    }
    
    function editEmployee(id) {
        axios.post('/set_current_employee', { id: id })
        .then(function (response) {
            window.location.href = "{{ url_for('employeeedit') }}";
        })
        .catch(function (error) {
            console.log(error);
        });
    }
</script>

</body>
</html>
