<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee Info</title>
    <link rel="stylesheet" href="../static/StructStyle.css">
</head>
<body>

<div class="navbar">
    <a href="{{ url_for('index') }}">Index</a>
    <a href="{{ url_for('product') }}">Product Management</a>
    <a href="{{ url_for('inventory') }}">Inventory Management</a>
    <a href="{{ url_for('employee') }}">Employee Management</a>
    <a href="{{ url_for('revenue') }}">Revenue</a>
</div>

<div class="container">
    <h1>Edit Employee</h1>
    <input type="hidden" id="staffId"> <!-- 隐藏字段用于存储员工ID -->

    <label for="staffName">Employee Name:</label>
    <input type="text" id="staffName" name="staffName" value="Zhang San" required>

    <label for="staffPosition">Position:</label>
    <input type="text" id="staffPosition" name="staffPosition" value="Clerk" required>

    <label for="actualWorkHours">Actual Work Hours:</label>
    <input type="number" id="actualWorkHours" name="actualWorkHours" value="160" required>

    <label for="expectedWorkHours">Expected Work Hours:</label>
    <input type="number" id="expectedWorkHours" name="expectedWorkHours" value="160" required>

    <label for="salary">Monthly Salary:</label>
    <input type="number" id="salary" name="salary" value="3000" required>

    <!-- 在HTML中添加按钮的id和onclick事件 -->
    <input type="button" id="updateButton" value="Update Employee Info" onclick="updateEmployeeInfo()">
</div>



<!-- 引入Axios库 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    window.onload = function() {
        axios.get('/get_current_employee')
            .then(function (response) {
                console.log(response)
                const employee = response.data[1];
                document.getElementById('staffId').value = response.data[0]; // 设置员工ID
                document.getElementById('staffName').value = employee.name;
                document.getElementById('staffPosition').value = employee.position;
                document.getElementById('actualWorkHours').value = employee.AcworkHours;
                document.getElementById('expectedWorkHours').value = employee.workHours;
                document.getElementById('salary').value = employee.salary;
            })
            .catch(function (error) {
                console.log(error);
            });
    };

    function updateEmployeeInfo() {
        var employeeData = {
            id: document.getElementById('staffId').value, // 获取员工ID
            name: document.getElementById('staffName').value,
            position: document.getElementById('staffPosition').value,
            AcworkHours: document.getElementById('actualWorkHours').value,
            workHours: document.getElementById('expectedWorkHours').value,
            salary: document.getElementById('salary').value
        };

        axios.post('/update_employee', employeeData)
            .then(function (response) {
                window.location.href = '/employee';
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>

</body>
</html>
