<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Product - Store Management System</title>
    <link rel="stylesheet" href="../static/StructStyle.css">
</head>
<body>

<div class="navbar">
    <a href="{{ url_for('index') }}">Index</a>
    <a href="{{ url_for('product') }}">Product Management</a>
    <a href="{{ url_for('inventory') }}">Inventory Management</a>
    <a href="{{ url_for('employee') }}">Employee Management</a>
    <a href="{{ url_for('revenue') }}">Revenue</a>
</div>

<div class="container">
    <h1>Add New Product</h1>
    <form id="newProductForm">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" required>

        <label for="soldQuantity">Sold Quantity:</label>
        <input type="number" id="soldQuantity" name="soldQuantity" required>

        <label for="remainingQuantity">Remaining Quantity:</label>
        <input type="number" id="remainingQuantity" name="remainingQuantity" required>

        <label for="sellingPrice">Selling Price:</label>
        <input type="number" id="sellingPrice" name="sellingPrice" required>

        <!-- Other product information inputs -->

        <button type="button" onclick="addProduct()">Add Product</button>
    </form>
</div>

<!-- 引入Axios库 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function addProduct() {
        var productData = {
            name: document.getElementById('productName').value,
            sold_quantity: document.getElementById('soldQuantity').value,
            remaining_quantity: document.getElementById('remainingQuantity').value,
            selling_price: document.getElementById('sellingPrice').value
        };

        axios.post('/add_product', productData)
            .then(function (response) {
                window.location.href = '/product'; // 跳转到product.html
            })
            .catch(function (error) {
                console.log(error);
            });
    }
</script>
</body>
</html>
